@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
    scroll-behavior:smooth
}

body {
    margin: 0px;    
   
    font-family: 'Josefin Sans', cursive;
}

* {
    box-sizing: border-box;
}

:root {
    --blackBackground: #1C1D20;
    --grayFontColor: #5c5c5c;
}



/* Laptop View  */
@media only screen and (min-width: 601px) {
    body {
        min-width: inherit;
        min-width: 1000px;
        overflow-x: auto;
    }

}