.career-timeline-content-wrapper {
    padding: 30px;
    position: relative;
}
.career-timeline-time {
    font-size: 30px;
}
.career-timeline-company {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}
.career-timeline-company > a {
    text-decoration: none;
    color: unset;
}
.career-timeline-company > a:hover {
    color: black;
}
.career-timeline-role {
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
}