#contact {
    background: var(--blackBackground);
    color: white;
    padding: 50px 0px;
}

#contact>main>div {
    text-align: center;
}

#contact svg {
    font-size: 35px;
}

#contact-details>div {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
}

#contact-details>div>span {
    margin-left: 20px;
}

#contact-details>div a {
    color: white;
}

/* Mobile View */
@media only screen and (max-width: 600px) {

    #contact>main>div {
        margin-left: 60px;
    }

    #contact header {
        padding: 0px 0px 40px 20px;
        font-size: 35px;
    }

}

/* Laptop View  */
@media only screen and (min-width: 601px) {

    #contact>main>div {
        margin-left: 70%;
    }

    #contact header {
        padding: 20px 0px 50px 100px;
        font-size: 50px;
    }

}