#tech-stack {
    padding: 50px 0px;
    position: relative;
}

#techstack-wrapper {
    padding: 0px 50px 0px 100px;
    display: flex;
    flex-direction: column;
}

.stack-type-row {
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
}

.stack-type-label {
    width: 20%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stack-type-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stack-row {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.stack-row-content {
    display: inline;
    text-align: center;
    transition: 1s;
}

.stack-row-content svg {
    font-size: 65px;
}

.stack-row-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 20px;
    transition: 1s;
}

.stack-row-progress div:first-child {
    text-align: center;
    font-weight: bold;
}

.stack-row-progress div:last-child {
    background-color: gray;
    height: 7px;
    width: 100%;
    border-radius: 3px;
}

.total.stack-type-row .stack-row .stack-row-content div:first-child {
    background-color: gray;
    height: 15px;
    border-right: 1px solid white;
}

#techstack-by>div {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.5;
}

#techstack-by>div.active {
    opacity: 1;
}

#techstack-by-button {
    width: 80px;
    height: 32px;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

#techstack-by-button>div {
    width: 28px;
    height: 28px;
    background: #dddddd;
    border-radius: 50%;
    transition: 1s;
    position: absolute;
    top: 2px;
}

#techstack-by-button>div.globe-left {
    left: 2px;
}

#techstack-by-button>div.globe-right {
    left: 50px;
}

.total.stack-type-row .stack-row .stack-row-content div:last-child {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}

/* Mobile View */
@media only screen and (max-width: 600px) {

    #tech-stack header {
        padding: 0px 0px 40px 20px;
        font-size: 35px;
    }

    #techstack-wrapper {
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
    }

    #techstack-by {
        width: 100%;
        font-size: 20px;
        padding: 20px 10px 40px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #techstack-by-button {
        bottom: 5px;
    }

    #stack-type-row-wrapper {
        overflow-y: auto;
        height: 350px;
    }

    .stack-type-row {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
    }

    .stack-type-label {
        position: absolute;
        top: 10px;
        font-size: 15px;
        width: 100%;
        color: gray;
    }

    .stack-type-content {
        width: 100%;
    }

}

/* Laptop View  */
@media only screen and (min-width: 601px) {

    #tech-stack header {
        padding: 20px 0px 50px 100px;
        font-size: 50px;
    }

    #techstack-wrapper {
        padding: 0px 50px 0px 100px;
        display: flex;
        flex-direction: column;
    }

    .techstack-sticky-content {
        position: sticky;
        top: 0px;
        background: white;
        border-bottom: 3px solid #ebebeb;
    }

    #techstack-by {
        text-align: right;
        width: 100%;
        right: 100px;
        font-size: 25px;
        padding-top: 20px;
    }

    #techstack-by-button {
        top: 5px;
    }

}